.app{
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: rgb(216, 217, 218);
}

.app_body{
    display: flex;
    background-color:rgb(231, 226, 226);
    margin-top: -50px;
    height: 95vh;
    width: 90vw;
    box-shadow:-1px 4px 20px -6px black;
}
